<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/head :: head"></head>

<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <div th:each="el : ${post}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"></h3>
        <p th:text="${el.full_text}"></p>
        <p th:text="'Просмотров: ' + ${el.views}"></p>
        <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
        <a th:href="'/blog/' + ${el.id} + '/remove'" class="btn btn-warning">Удалить</a>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>

</html>